@media screen and (max-width: 376px) {

    /**Home**/
    #imgBanner {
        margin-top: 150px;
    }

    .fraseHome {
        background-color: #81606c;
        font-size: 18px;
        padding: 20px;
        text-align: center;
    }

    #bienvenida {
        height: 400px;
        font-size: 16px;

        img {
            margin-top: 20px;
            height: 200px;
            width: 200px;
        }
    }

    #newsletter {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

/**Footer**/
#pieDePagina{
    padding: 10px;
    font-size: 15px;

    .caja2Footer{
        img{ 
height: 20px;
width: 20px;
        }
    }

    .caja3Footer{
        padding: 9px;
        text-align: center;

        h1{
            font-size: 12px;
        }
    }
}

    #publicacionesGrid {
        margin-top: 200px;
        margin-bottom: 20px;
        display: grid;
        grid-template-areas:
            "art1"
            "art2"
            "art3"
            "art4"
            "art5";
        grid-template-columns: auto;
        grid-template-rows: 400px 290px 290px 290px 290px
    }
}