@media screen and (max-width: 376px) {

    /**Home**/
    #imgBanner {
        margin-top: 110px;
    }

    .fraseHome {
        background-color: #81606c;
        font-size: 18px;
        padding: 20px;
        text-align: center;
    }

    #bienvenida {
        height: 500px;
        font-size: 15px;
        text-align: center;

        img {
            margin-top: 20px;
            height: 200px;
            width: 200px;
        }
    }

    #newsletter {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        height: 250px;
        padding-bottom: 50px;
        font-size: 15px;

        .formHome {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.1em;
        }
    }

    /**Nav**/
    header {

        #logoCafe {
            img {
                width: 200px;
                height: 110px;
            }
        }

        a {
            font-size: 15px !important;
        }
    }

    /**Footer**/
    #pieDePagina {
        padding: 10px;
        font-size: 15px;

        .caja2Footer {
            img {
                height: 20px;
                width: 20px;
            }
        }

        .caja3Footer {
            padding: 9px;
            text-align: center;

            h1 {
                font-size: 12px;
            }
        }
    }

    /**Nosotros**/
    .primerParrafoNosotros {
        margin-top: 110px;
        font-size: 12px;
        padding-top: 13px;
        height: 600px;

        h1 {
            padding-top: 12px;
        }

        p {
            padding: 20px;
            text-align: center;
        }
    }

    .segundoParrafoNosotros {
        font-size: 12px;
        padding-top: 13px;
        height: 510px;

        h1 {
            padding-top: 20px;
        }

        p {
            padding: 24px;
            text-align: center;
        }

        img {
            height: 230px;
            width: 300px;
        }
    }

    .tercerParrafoNosotros {
        height: 400px;
        font-size: 14px;
        justify-content: center;

        h1 {
            padding-top: 20px;
        }

        p {
            padding: 10px;
            padding-top: 20px;
            text-align: center;

            .mapa {
                width: 400px;
                height: 400px;
            }
        }
    }

    /**Productos**/

    #cafesGrid {
        height: 1700px;
        margin-top: 120px;
        margin-bottom: 100px;
        display: grid;
        grid-template-areas:
            "cafe1"
            "cafe2"
            "cafe3"
            "cafe4"
            "cafe5"
            "cafe6";
        grid-template-columns: auto;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
a{
    font-size: 18px;
}

p{
    font-size: 14px;
}

     }



        /**Tips**/

        #publicacionesGrid {
            margin-top: 150px;
            margin-bottom: 10px;
            height: 3000px;
            display: grid;
            grid-template-areas:
                "art1"
                "art2"
                "art3"
                "art4"
                "art5";
            grid-template-columns: auto;
            grid-template-rows: 450px 450px 450px 450px 1050px;

            .nota1 {
                font-size: 13px;

                h1 {
                    font-size: 25px;
                }

                a {
                    font-size: 13px;
                }
            }

            .nota2 {
                font-size: 13px;

                h1 {
                    font-size: 25px;
                }

                a {
                    font-size: 13px;
                }
            }

            .nota3 {
                font-size: 13px;

                h1 {
                    font-size: 25px;
                }

                a {
                    font-size: 13px;
                }
            }

            .nota4 {
                font-size: 13px;

                h1 {
                    font-size: 25px;
                }

                a {
                    font-size: 13px;
                }
            }

            .nota5 {
                font-size: 13px;

                h1 {
                    font-size: 25px;
                }

                a {
                    font-size: 13px;
                }
            }
        }
    }