* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@import "../styles/Abstract/variables";
@import "../styles/components/navbar";
@import "../styles/components/footer";
@import "../styles/pages/home";
@import "../styles/pages/tips";
@import "../styles/pages/productos";
@import "../styles/pages/contacto";
@import "../styles/pages/nosotros";