* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #68585E;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 30px;
  position: fixed;
}
header #logoCafe {
  text-align: center;
}
header #barraNav {
  justify-content: flex-end;
}
header #barraDeNavegacion {
  background-color: #68585E !important;
}
header #barraDeNavegacion a {
  color: #E9E2C9 !important;
  font-size: 20px;
}

#pieDePagina {
  display: flex;
  flex-direction: row;
  background-color: #68585E;
  width: 100%;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 30px;
}
#pieDePagina .caja1Footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#pieDePagina .caja1Footer a {
  text-decoration: none;
  color: #E9E2C9;
}
#pieDePagina .caja2Footer {
  display: flex;
  flex-direction: column;
  color: #e0d5cf;
}
#pieDePagina .caja2Footer div {
  display: flex;
}
#pieDePagina .caja2Footer ul {
  display: flex;
  flex-direction: row;
}
#pieDePagina .caja2Footer li {
  list-style: none;
  padding: 5px;
}
#pieDePagina .caja2Footer a {
  display: flex;
  color: #E9E2C9;
  align-items: center;
}
#pieDePagina .caja3Footer h1 {
  display: flex;
  color: #E9E2C9;
  font-size: 15px;
}

#imgBanner {
  margin-top: 4%;
  width: 100%;
}

.fraseHome {
  background-color: #81606c;
  height: 100px;
  color: #e0d5cf;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bienvenida {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #313131;
  width: 100%;
  height: 400px;
  justify-content: space-evenly;
  padding: 50px;
  color: #e6c6b4;
  font-size: 18px;
}
#bienvenida div {
  padding-top: 36px;
  justify-content: center;
}

#newsletter {
  background-color: #e6c6b4;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 250px;
  justify-content: center;
}

.bodyTips {
  background-color: #E9E2C9;
}

#publicacionesGrid {
  background-color: #E9E2C9;
  margin: 1.6em auto;
  margin-top: 200px;
  margin-bottom: 80px;
  width: 90%;
  height: 1400px;
  display: grid;
  gap: 1.6em;
  grid-template-areas: "art1 art1 art3 art5" "art2 art2 art4 art5";
  grid-template-columns: 250px auto auto 250px;
  grid-template-rows: 50% 50%;
  justify-content: space-around;
}
#publicacionesGrid .nota1 {
  grid-area: art1;
  background-color: #9b7583;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
#publicacionesGrid .nota1 a {
  color: #e6c6b4;
  font-size: 18px;
}
#publicacionesGrid .nota2 {
  grid-area: art2;
  background-color: #9b7583;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}
#publicacionesGrid .nota2 a {
  color: #e6c6b4;
  font-size: 18px;
}
#publicacionesGrid .nota3 {
  grid-area: art3;
  background-color: #9b7583;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
#publicacionesGrid .nota3 a {
  color: #e6c6b4;
  font-size: 18px;
}
#publicacionesGrid .nota4 {
  grid-area: art4;
  background-color: #9b7583;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}
#publicacionesGrid .nota4 a {
  color: #e6c6b4;
  font-size: 18px;
}
#publicacionesGrid .nota5 {
  grid-area: art5;
  background-color: #9b7583;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}
#publicacionesGrid .nota5 a {
  color: #e6c6b4;
  font-size: 18px;
}

.bodyproductos {
  background-color: #313131;
}

#cafesGrid {
  margin: 1.6em;
  margin-top: 200px;
  margin-bottom: 80px;
  width: 90%;
  display: grid;
  grid-template-areas: "cafe1 cafe2 cafe3" "cafe4 cafe5 cafe6";
  grid-template-columns: 250px 250px 250px;
  justify-content: space-around;
  gap: 6.1em;
}

.cafe1 {
  grid-area: cafe1;
  width: 300px;
  height: 180px;
  overflow: hidden;
}
.cafe1 .tituloCafe {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 7px;
}
.cafe1 img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.9s ease;
  width: 100%;
}
.cafe1 img:hover {
  transform: scale(1.1);
}

.cafe2 {
  grid-area: cafe2;
}
.cafe2 .tituloCafe {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cafe2 img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.cafe3 {
  grid-area: cafe3;
}
.cafe3 .tituloCafe {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cafe3 img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.cafe4 {
  grid-area: cafe4;
}
.cafe4 .tituloCafe {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cafe4 img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.cafe5 {
  grid-area: cafe5;
}
.cafe5 .tituloCafe {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cafe5 img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.cafe6 {
  grid-area: cafe6;
}
.cafe6 .tituloCafe {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cafe6 img {
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}

.tituloForm {
  height: 100px;
  background-color: #9b7583;
  color: antiquewhite;
  text-align: center;
  align-items: center;
  font-size: 40px;
}

.cuerpoForm {
  display: flex;
  justify-content: left;
  padding-left: 24px;
  margin: 2px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.primerParrafoNosotros {
  background-color: #313131;
  margin-top: 11%;
  display: flex;
  height: 40%;
  flex-direction: column;
  padding-left: 1%;
  padding-bottom: 5%;
  align-items: center;
}
.primerParrafoNosotros h1 {
  color: antiquewhite;
  align-items: center;
}
.primerParrafoNosotros p {
  color: beige;
}

.segundoParrafoNosotros {
  background-color: #9b7583;
  display: flex;
  height: 40%;
  flex-direction: column;
  padding-left: 1%;
  padding-bottom: 5%;
  box-shadow: 2px 2px 30px;
  align-items: center;
}
.segundoParrafoNosotros h1 {
  color: antiquewhite;
  align-items: center;
}
.segundoParrafoNosotros p {
  color: beige;
}

.tercerParrafoNosotros {
  background-color: #313131;
  display: flex;
  height: 60%;
  flex-direction: column;
  padding-left: 1%;
  padding-bottom: 5%;
  box-shadow: 2px 2px 30px;
  align-items: center;
}
.tercerParrafoNosotros h1 {
  color: antiquewhite;
  align-items: center;
}
.tercerParrafoNosotros p {
  color: beige;
}
.tercerParrafoNosotros iframe {
  border-radius: 10px;
  box-shadow: 2px;
}

@media screen and (max-width: 376px) {
  /**Home**/
  #imgBanner {
    margin-top: 150px;
  }
  .fraseHome {
    background-color: #81606c;
    font-size: 18px;
    padding: 20px;
    text-align: center;
  }
  #bienvenida {
    height: 400px;
    font-size: 16px;
  }
  #bienvenida img {
    margin-top: 20px;
    height: 200px;
    width: 200px;
  }
  #newsletter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  /**Footer**/
  #pieDePagina {
    padding: 10px;
    font-size: 15px;
  }
  #pieDePagina .caja2Footer img {
    height: 20px;
    width: 20px;
  }
  #pieDePagina .caja3Footer {
    padding: 9px;
    text-align: center;
  }
  #pieDePagina .caja3Footer h1 {
    font-size: 12px;
  }
  #publicacionesGrid {
    margin-top: 200px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "art1" "art2" "art3" "art4" "art5";
    grid-template-columns: auto;
    grid-template-rows: 400px 290px 290px 290px 290px;
  }
}/*# sourceMappingURL=style.css.map */