* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import "../styles/components/navbar";
@import "../styles/components/footer";
@import "../styles/pages/home";
@import "../styles/pages/tips";
